html {
  scroll-padding: 75px 0 0 0;
  }

.card1{
  border: solid;
  border-color: rgb(233, 91, 91);
  margin: 0 0 5vh 0;
  padding: 1vh 0 0 0;
  align-content: center;
  justify-content: center;
  }

.Caption h5{
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.5vw;
  font-size: 3vw;
  position: relative;
  color: white;
  margin-top: 2.0vw;
  padding-top: 0vw;
}

.Ourwork1 {
  height: 377px;
  width: 500px;
}

.CardTitle h6{
  font-size: 2vw;
  font-weight: bolder;
}


#body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 40px 0;
  display: flex;
  min-height: 100vh; 
  flex-direction: column; 
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
  font-weight: bold;
  font-size: 3vw;
  position: relative;
  margin: 40px 0 0px;
}

/* Carousel */
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 20px auto;
  padding: 0 80px;
}
.carousel-item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 40vh;
  }

.carousel .testimonial {
  padding: 15px 0 5px;
  font-size: 1.5vw;
}

.carousel .overview {	
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #db584e;
}

.carousel .carousel-control {
  width: 10px;
  height: 10px;
  margin-top: -10px;
  top:40%;
  background: none;
}

.carousel-control i {
  font-size: 34px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel .carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li, .carousel-indicators li.active {
  width: 30px;
  height: 30px;
  margin: 1px 3px;
  border-radius: 50%;
}

.container h2{
  font-size: 3vw;
  margin-top: 2vw;
}

.carousel-indicators li {	
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

.carousel-indicators li.active {	
  background: #555;		
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/*Button*/
.Button {
  margin-top: 12px;
  color: rgb(247, 247, 247);
  background-color: rgb(247, 104, 104);
  border: none;
  text-transform: uppercase;
  padding: 8px 18px;
  font-size: 32px;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: color 0.5s linear;
  position: relative;
  --accent-color: rgb(43, 75, 100);
}
  
.Button.Button-background-slide::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--accent-color);
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
  
.Button.Button-background-slide:hover::before{
  transform: scaleX(1);
}
  
.Button.Button-background-slide{
  z-index: 1;
}

/*END BUTTON */

.content h3{
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 100px;
  font-weight: 900;
  color: #fff7f7;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.Caption h4{
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.5vw;
  font-size: 3vw;
  position: relative;
  color: white;
  margin-top: 0.5vw;
  padding-top: 0vw;
  }

  .about h3{
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.0vw;
  font-size: 3vw;
  position: relative;
  color: black;
  margin-top: 0.5vw;
  padding-top: 0vw;
  }

  .learn{
  margin-right: 0px;
  }

.showcase{
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.card-title mb-3 h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: #000000;
}

#footer{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e9e9e9;
  margin-top: auto;
  margin-left: 0px;
}

.footer1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
}

.general1{
  margin-left: 160px;
  margin-right: 160px;
  color: #333333;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.intro-big{
  text-align: center;
  margin-top: 0px;
  font-size: 30px;
  margin-left: 13%;
  margin-right: 13%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 55px;
  color: #ffffff;
}

  .showcase-area{
  background-size: cover;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('Images/Concrete.jpg');
  height: 80vh;
  min-height: 600px;
  padding: 0px;
  text-align: center;
  margin-top: 0px;
}



  .panel{
  background-size: cover;
  background-color: rgba(73, 73, 73, 0.418);
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

  .panel2{
  background-color: rgba(224, 37, 37, 0.418);
  margin-top: 0px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 5px;
}

  .first-text{
  text-align: center;
  font-size: 27px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}

.processtext{
  font-size: 1.7vw;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 5px;
  margin-top: 20px;
}

.target{
  height: 200px;
  width: 299px;
}

  .intro-text{
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size:13px;
  }

  .build{
    height: 75px;
    width: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  .third-text{
    margin-top: 0.5vh;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5vw;
    font-size: 3vw;
    color: #000;
    }

  .fourth-text{
    margin-top: 0px;
    margin-left: 80px;
    text-transform: uppercase;
    text-align: left;
    font-size: 60px;
    margin-bottom: 15px;
  }

@media (max-width: 991px) {
  .tram{
      display: none;
  }
  .flowchart{
      display: none;
    }
  .Ourwork1 {
      height: 221px;
      width: 302px;
      }
  }

  @media (max-width: 1300px) {   
    .general{
      margin-left: 50px;
      margin-right: 50px;
      color: #ffffff;
      font-weight: 200;
      text-align: justify;
      margin-top: 20px;
      font-size: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .general1{
      margin-left: 20px;
      margin-right: 15px;
      color: #444444;
      font-weight: 200;
      text-align: justify;
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .carousel-item {
      color: #999;
      font-size: 18px;
      text-align: center;
      overflow: hidden;
      min-height: 32vh;
      }
    
  }

  .Button2{
    margin-top: 15px;
    color: rgb(247, 247, 247);
    background-color: rgb(247, 104, 104);
    border: none;
    text-transform: uppercase;
    padding: 4px 9px;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  


@media (max-width: 1450px) {
  .content h3{
    font-size: 70px;
    margin-bottom: 40px;
    margin-left: 90px;
    margin-right: 90px;
  }

  .Caption h4{
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 35px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
  }

  .container h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 45px;
    margin-left: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
  }

  .Caption h5{
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 0px;
    margin-bottom: 35px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
  }

  .about h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 35px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    }
  
  h2
  {
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 0px;
    margin-bottom: 25px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: black 
  }

  .third-text{
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 32px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  
  .CardTitle h6{
    font-size: 10px;
    font-weight: bolder;
    position: static;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .CardPara p{
    display: none;
  }

}

  @media (max-width: 1100px) {
    .intro-big{
      text-align: center;
      margin-top: 0px;
      font-size: 25px;
      margin-bottom: 25px;
    }
    
    .carousel .testimonial{
      padding: 0px;
      font-size: 16px;
    }
  }
 
  @media (max-width: 800px) {
    .first-text{
      font-size: 25px;
    }

    .photo-area{
      height: 35vh;
      justify-content: center;
    }

    .house{
      height: 35vh;
      width: 100%;
      align-content: center;
      overflow: hidden;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }
    
    .Button{
      margin-top: 25px;
      color: rgb(247, 247, 247);
      background-color: rgb(247, 104, 104);
      border: none;
      text-transform: uppercase;
      padding: 8px 18px;
      font-size: 16px;
      cursor: pointer;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      transition: color 0.5s linear;
      position: relative;
      --accent-color: rgb(43, 75, 100);
    }

    .content h3{
      text-transform: uppercase;
      font-size: 45px;
      color: #ffffff;
      font-weight: bolder;
      padding-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 25px;
    }
   
    .intro-big{
      text-align: center;
      margin-top: 0px;
      font-size: 12px;
      margin-bottom: 25px;
    }
  
    .intro-text{
      margin-top: 0px;
      text-transform: uppercase;
      margin-left: 0px;
      margin-right: 0px;
      text-align: center;
      font-size:9px;
    }

      .general1{
        margin-left: 8px;
        margin-right: 5px;
        color: #414141;
        font-weight: 200;
        text-align: justify;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 14px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  
      .target{
        height: 150px;
        width: 225px;
    }

      .theworld{
        height: 150px;
        width: 150px;
        padding-right: 5px;
    }

    .carousel-item {
      color: #999;
      font-size: 14px;
      text-align: center;
      overflow: hidden;
      min-height: 32vh;
      }
    

      .build{
        height: 55px;
        width: 55px;
    }     
      .Button{
        margin-top: 0px;
    }
      .showcase-area{
        background-size: cover;
        background-color: rgba(218, 78, 73, 0.897);
        height: 65vh;
        padding: 0px;
        text-align: center;
        margin-top: 0px;
    }
  }

  @media (max-width: 600px){
    .carousel .testimonial{
      padding: 0px;
      font-size: 12px;
    }

    .footer1{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 10px;
      margin-bottom: 0px;
    }
    
    }

    @media (max-width: 281px){
      .build{
        height: 45px;
        width: 45px; 
      }
    }

      .content-area{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

  .content{
    text-align: center;
}

@media (min-width: 500px){
.house{
  height: 0vh;
  display: none;
  width: 100%;
  align-content: center;
  overflow: hidden;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.photo-area{
  height: 0vh;
  justify-content: center;
}

}

.Caption h1{
  font-size: 70px;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 25px;
  width: 60%;
  font-weight: 900;
}

.Caption h2{
  font-size: 35px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  font-weight: 900;
  text-align: center;
  color:black
}

.Caption h3{
  font-size: 35px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
  font-weight: 900;
  text-align: center;
  color:white
}

.logo{
  width: 200px;
  height: 100%;
  object-fit: scale-down;
}

.img-fluid{
  max-height: 300px;
  max-width: 100%;
}

.nav-item{
  margin-top: 33px;
}

.navbar-toggler{
  margin-top: 15px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}